<div class="loginmodalbox modal fade" id="ritekhelamodalcenter" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body ritekhela-bgcolor-two">
                <h5 class="modal-title">Ingresa a tu cuenta</h5>
                <a href="#" class="close ritekhela-bgcolor-two" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </a>
                <form class="loginmodalbox-search">
                    <input type="text" value="Nombre de usuario" onblur="if(this.value == '') { this.value ='Nombre de usuario'; }" onfocus="if(this.value =='Nombre de usuario') { this.value = ''; }">
                    <input type="text" value="Contraseña" onblur="if(this.value == '') { this.value ='Contraseña'; }" onfocus="if(this.value =='Contraseña') { this.value = ''; }">
                    <input type="submit" value="Ingresar" class="ritekhela-bgcolor">
                    <input type="submit" value="Registrarme" class="ritekhela-bgcolor">
                    <a href="#" class="loginmodalbox-forget">¿Olvidaste tu contraseña?</a>
                </form>
            </div>
        </div>
    </div>
</div>