<div class="loginmodalbox modal fade" id="registrarUsuario" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body ritekhela-bgcolor-two">
                <h5 class="modal-title">Registrarme</h5>
                <a href="#" class="close ritekhela-bgcolor-two" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </a>
                
                <partial name="../Usuarios/RegistrarUsuario.cshtml" />

            </div>
        </div>
    </div>
</div>


