@{
    ViewData["Title"] = "Home Page";
}

<!--// Banner //-->
<div class="ritekhela-banner-one">
    <div class="ritekhela-banner-one-layer">
        <span class="ritekhela-banner-transparent"></span>
        <img src="extra-images/banner-1.jpg" alt="">
        <div class="ritekhela-banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Categoría <strong class="ritekhela-color">2004</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ritekhela-banner-one-layer">
        <span class="ritekhela-banner-transparent"></span>
        <img src="extra-images/banner-2.jpg" alt="">
        <div class="ritekhela-banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Categoría <strong class="ritekhela-color">2005</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ritekhela-banner-one-layer">
        <span class="ritekhela-banner-transparent"></span>
        <img src="extra-images/banner-3.jpg" alt="">
        <div class="ritekhela-banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Categoría <strong class="ritekhela-color">2007</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ritekhela-banner-one-layer">
        <span class="ritekhela-banner-transparent"></span>
        <img src="extra-images/banner-4.jpg" alt="">
        <div class="ritekhela-banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Categoría <strong class="ritekhela-color">2008</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ritekhela-banner-one-layer">
        <span class="ritekhela-banner-transparent"></span>
        <img src="extra-images/banner-5.jpg" alt="">
        <div class="ritekhela-banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Categoría <strong class="ritekhela-color">2009</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ritekhela-banner-one-layer">
        <span class="ritekhela-banner-transparent"></span>
        <img src="extra-images/banner-6.jpg" alt="">
        <div class="ritekhela-banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Categoría <strong class="ritekhela-color">2011</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ritekhela-banner-one-layer">
        <span class="ritekhela-banner-transparent"></span>
        <img src="extra-images/banner-7.jpg" alt="">
        <div class="ritekhela-banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Categoría <strong class="ritekhela-color">2012</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ritekhela-banner-one-layer">
        <span class="ritekhela-banner-transparent"></span>
        <img src="extra-images/banner-8.jpg" alt="">
        <div class="ritekhela-banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Categoría <strong class="ritekhela-color">2013</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Banner //-->
<!--// Content //-->
<div class="ritekhela-main-content">

    <!--// Main Section //-->
    <div class="ritekhela-main-section ritekhela-fixture-slider-full">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <!--// Fixture Slider //-->
                    <div class="ritekhela-fixture-slider">
                        <div class="ritekhela-fixture-slider-layer">
                            <div class="ritekhela-fixture-box">
                                <span class="layer-shape"></span>
                                <time datetime="2008-02-14 20:00">Diciembre 06, 2020</time>
                                <ul>
                                    <li>CADB <span>05</span></li>
                                    <li>CAPJD <span>02</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ritekhela-fixture-slider-layer">
                            <div class="ritekhela-fixture-box">
                                <span class="layer-shape"></span>
                                <time datetime="2008-02-14 20:00">Diciembre 12, 2020</time>
                                <ul>
                                    <li>CAAO <span>05</span></li>
                                    <li>CGSM <span>02</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ritekhela-fixture-slider-layer">
                            <div class="ritekhela-fixture-box">
                                <span class="layer-shape"></span>
                                <time datetime="2008-02-14 20:00">Dciiembre 18, 2020</time>
                                <ul>
                                    <li>CACDE <span>05</span></li>
                                    <li>CSCYDLP <span>02</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ritekhela-fixture-slider-layer">
                            <div class="ritekhela-fixture-box">
                                <span class="layer-shape"></span>
                                <time datetime="2008-02-14 20:00">Diciembre 24, 2020</time>
                                <ul>
                                    <li>CSP <span>05</span></li>
                                    <li>Sp. PRINGLES <span>02</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ritekhela-fixture-slider-layer">
                            <div class="ritekhela-fixture-box">
                                <span class="layer-shape"></span>
                                <time datetime="2008-02-14 20:00">Enero 06, 2021</time>
                                <ul>
                                    <li>CAAF <span>05</span></li>
                                    <li>CAVC <span>02</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ritekhela-fixture-slider-layer">
                            <div class="ritekhela-fixture-box">
                                <span class="layer-shape"></span>
                                <time datetime="2008-02-14 20:00">Enero 12, 2021</time>
                                <ul>
                                    <li>SAN JOSE <span>05</span></li>
                                    <li>CAAII <span>02</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--// Fixture Slider //-->
                </div>

                <!--// Left Section //-->
                <div class="col-md-8">

                    <!--// Fancy Title Two //-->
                    <div class="ritekhela-fancy-title-two">
                        <h2>Últimas noticias</h2>
                    </div>
                    <!--// Fancy Title Two //-->
                    <!--// Latest Blog's //-->
                    <div class="ritekhela-blogs ritekhela-blog-view1">
                        <ul class="row">
                            <li class="col-md-6">
                                <figure><a href="https://www.facebook.com/Club-Deportivo-La-Ribera-Villa-Mercedes-San-Luis-2287714841487000/" target="_blank"><img src="extra-images/blog-view1-1.jpg" alt=""> <i class="fa fa-link"></i> </a></figure>
                                <div class="ritekhela-blog-view1-text">
                                    <ul class="ritekhela-blog-options">
                                        <li><i class="far fa-calendar-alt"></i> Diciembre 1, 2020</li>
                                    </ul>
                                    <h2><a href="https://www.facebook.com/Club-Deportivo-La-Ribera-Villa-Mercedes-San-Luis-2287714841487000/" target="_blank">Nueva Comisión Directiva!</a></h2>
                                    <p>
                                        El día sábado 21 de noviembre se realizó la Asamblea Ordinaria con el objetivo de cerrar ejercicios (balances, memorias) y designar a la nueva Comisión Directiva de la institución.
                                    </p>
                                    <a href="https://www.facebook.com/Club-Deportivo-La-Ribera-Villa-Mercedes-San-Luis-2287714841487000/" class="ritekhela-blog-view1-btn" target="_blank">Leer más</a>
                                </div>
                            </li>
                            <li class="col-md-6">
                                <figure><a href="https://www.facebook.com/Club-Deportivo-La-Ribera-Villa-Mercedes-San-Luis-2287714841487000/" target="_blank"><img src="extra-images/blog-view1-2.jpg" alt=""> <i class="fa fa-link"></i> </a></figure>
                                <div class="ritekhela-blog-view1-text">
                                    <ul class="ritekhela-blog-options">
                                        <li><i class="far fa-calendar-alt"></i> Diciembre 1, 2020</li>
                                    </ul>
                                    <h2><a href="https://www.facebook.com/Club-Deportivo-La-Ribera-Villa-Mercedes-San-Luis-2287714841487000/" target="_blank">164° Aniversario de la ciudad de Villa Mercedes.</a></h2>
                                    <p>Desde ésta esquina de nuestra queridísima ciudad, desde Pujol y Ghandi, saludamos a Villa Mercedes por su 164° Aniversario. ¡Felicidades! </p>
                                    <a href="https://www.facebook.com/Club-Deportivo-La-Ribera-Villa-Mercedes-San-Luis-2287714841487000/" class="ritekhela-blog-view1-btn" target="_blank">Leer más</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--// Latest Blog's //-->
                    <!--// Fancy Title Two //-->
                    <div class="ritekhela-fancy-title-two">
                        <h2>Jugadores Destacados</h2>
                    </div>
                    <!--// Fancy Title Two //-->
                    <!--// Player //-->
                    <div class="ritekhela-team ritekhela-team-view1">
                        <ul class="row">
                            <li class="col-md-4">
                                <figure>
                                    <a href="#"><img src="extra-images/team-view1-1.jpg" alt=""></a>
                                </figure>
                                <div class="ritekhela-team-view1-text">
                                    <h2><a href="#">Jecy Deoko</a></h2>
                                    <span>Delantero</span>
                                    <p>Lorem ipsum dolor sit met, con etur adipiscing elit. Ut c males ante.</p>
                                    <a href="#" class="ritekhela-team-view1-btn">Leer más<i class="fa fa-angle-right"></i></a>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <figure>
                                    <a href="#"><img src="extra-images/team-view1-2.jpg" alt=""></a>
                                </figure>
                                <div class="ritekhela-team-view1-text">
                                    <h2><a href="#">John Smith</a></h2>
                                    <span>Medio campo</span>
                                    <p>Lorem ipsum dolor sit met, con etur adipiscing elit. Ut c males ante.</p>
                                    <a href="#" class="ritekhela-team-view1-btn">Leer más<i class="fa fa-angle-right"></i></a>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <figure>
                                    <a href="#"><img src="extra-images/team-view1-3.jpg" alt=""></a>
                                </figure>
                                <div class="ritekhela-team-view1-text">
                                    <h2><a href="#">Jessica</a></h2>
                                    <span></span>
                                    <p>Lorem ipsum dolor sit met, con etur adipiscing elit. Ut c males ante.</p>
                                    <a href="#" class="ritekhela-team-view1-btn">Leer más <i class="fa fa-angle-right"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--// Player //-->
                    <!--// Match Result //-->
                    <div class="ritekhela-match-result">
                        <div class="ritekhela-match-title">
                            <h4>Último encuentro</h4>
                            <span>Sábado, 24 de Marzo, 2020</span>
                        </div>
                        <ul>
                            <li>
                                <img src="extra-images/latest-result-logo-1.png" alt="">
                                <h4><a href="#">C.A.D.B</a></h4>
                            </li>
                            <li class="ritekhela-match-score">
                                <h5>RESULTADO FINAL</h5>
                                <p><strong>3</strong> <small>:</small> 2</p>
                            </li>
                            <li>
                                <img src="extra-images/latest-result-logo-2.png" alt="">
                                <h4><a href="#">C.A.A.O</a></h4>
                            </li>
                        </ul>
                    </div>
                    <!--// Match Result //-->


                </div>
                <!--// Left Section //-->
                <!--// SideBaar //-->
                <aside class="col-md-4">

                    <!--// Widget Team Ranking //-->
                    <div class="widget widget_team_ranking">
                        <div class="ritekhela-fancy-title-two">
                            <h2>Posiciones - 1º Categoría</h2>
                        </div>
                        <div class="ranking-title-table">
                            <ul class="ranking-title-row">
                                <li>Equipos</li>
                                <li>PTS</li>
                            </ul>
                        </div>
                        <div class="ranking-content-table">
                            <ul class="ranking-content-row">
                                <li> <img src="extra-images/ranking-widget-flag-1.png" alt=""> <div class="ranking-logo"><span>C.S.C.Y.D.L.P.</span> <small>Los Pumas</small> </div> </li>
                                <li>24</li>
                            </ul>
                        </div>
                        <div class="ranking-content-table">
                            <ul class="ranking-content-row">
                                <li> <img src="extra-images/ranking-widget-flag-2.png" alt=""> <div class="ranking-logo"><span>San José</span> <small></small> </div> </li>
                                <li>20</li>
                            </ul>
                        </div>
                        <div class="ranking-content-table">
                            <ul class="ranking-content-row">
                                <li> <img src="extra-images/ranking-widget-flag-3.png" alt=""> <div class="ranking-logo"><span>C.A.D.B.</span> <small>Justo Daract</small> </div> </li>
                                <li>18</li>
                            </ul>
                        </div>
                        <div class="ranking-content-table">
                            <ul class="ranking-content-row">
                                <li> <img src="extra-images/ranking-widget-flag-4.png" alt=""> <div class="ranking-logo"><span>Racing</span> <small>Villa Mercedes</small> </div> </li>
                                <li>16</li>
                            </ul>
                        </div>
                        <div class="ranking-content-table">
                            <ul class="ranking-content-row">
                                <li> <img src="extra-images/ranking-widget-flag-5.png" alt=""> <div class="ranking-logo"><span>C.A.A.F.</span> <small></small> </div> </li>
                                <li>14</li>
                            </ul>
                        </div>
                    </div>
                    <!--// Widget Team Ranking //-->
                    <!--// Widget Social Media //-->
                    <div class="widget widget_social_media">
                        <div class="ritekhela-fancy-title-two">
                            <h2>Redes Sociales</h2>
                        </div>
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/clubdeportivo_laribera/" class="fa-rss" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/Club-Deportivo-La-Ribera-Villa-Mercedes-San-Luis-2287714841487000/" class="fb" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--// Widget Social Media //-->
                    <!--// Widget Next Match //-->
                    <div class="widget widget_next_match">
                        <div class="ritekhela-fancy-title-two">
                            <h2>Próximo Encuentro - 1º Categoría</h2>
                        </div>
                        <div class="widget_next_match_title">
                            <h5>Cuartos de Final</h5>
                            <span>Domingo, 17 de Mayo, 2020</span>
                        </div>
                        <ul>
                            <li>
                                <img src="extra-images/widget-next-match-logo-1.png" alt="">
                                <h6><a href="fixture-detail.html">C.A.A.F.</a></h6>
                                <small></small>
                            </li>
                            <li>
                                <div class="widget_next_match_option">
                                    <h6>09:00 pm</h6>
                                    <small>Estadio San Luis</small>
                                </div>
                            </li>
                            <li>
                                <img src="extra-images/widget-next-match-logo-2.png" alt="">
                                <h6><a href="fixture-detail.html">San José</a></h6>
                                <small></small>
                            </li>
                        </ul>
                    </div>
                    <!--// Widget Next Match //-->
                    <!--// Widget Newsletter //-->
                    <div class="widget widget_newsletter">
                        <div class="ritekhela-fancy-title-two">
                            <h2>Socios</h2>
                        </div>
                        <form>
                            <label>Hacete socio ahora!</label>
                            <p>Haciendote socio podrás acceder a la categoría que pertenezcas y poder abonar la cuota online.</p>
                            <input type="text" value="Tu nombre" onblur="if(this.value == '') { this.value ='Tu nombre'; }" onfocus="if(this.value =='Tu nombre') { this.value = ''; }">
                            <input type="text" value="Ingresa tu correro" onblur="if(this.value == '') { this.value ='Ingresa tu correro'; }" onfocus="if(this.value =='Ingresa tu correro') { this.value = ''; }">
                            <input type="submit" value="Suscribite ahora!">
                        </form>
                    </div>
                    <!--// Widget Newsletter //-->
                </aside>
                <!--// SideBaar //-->
                <!--// Bottom Section //-->
                <div class="col-md-12">
                    <!--// Fancy Title Two //-->
                    <div class="ritekhela-fancy-title-two">
                        <h2>Galería</h2>
                    </div>
                    <!--// Fancy Title Two //-->
                    <!--// Gallery //-->
                    <div class="ritekhela-gallery ritekhela-gallery-view1">
                        <ul class="row">
                            <li class="col-md-4">
                                <figure>
                                    <a data-fancybox="group1" href="extra-images/gallery-view1-1.jpg" ><img src="extra-images/gallery-view1-1.jpg" alt=""> <i class="fa fa-plus ritekhela-bgcolor"></i> </a>
                                    <a data-fancybox="group1" href="extra-images/gallery-view1-2.jpg" ></a>
                                        <figcaption>
                                            <span class="ritekhela-bgcolor-two">11 Photos</span>
                                        </figcaption>
                                </figure>
                                <h2>The Champion Final will be played</h2>
                            </li>
                            <li class="col-md-4">
                                <figure>
                                    <a data-fancybox="group2" href="extra-images/gallery-view1-3.jpg"><img src="extra-images/gallery-view1-3.jpg" alt=""> <i class="fa fa-plus ritekhela-bgcolor"></i> </a>
                                    <a data-fancybox="group2" href="extra-images/gallery-view1-4.jpg"></a>
                                    <figcaption>
                                        <span class="ritekhela-bgcolor-two">06 Photos</span>
                                    </figcaption>
                                </figure>
                                <h2>will be played The Champion Final</h2>
                            </li>
                            <li class="col-md-4">
                                <figure>
                                    <a data-fancybox="group2" href="extra-images/gallery-view1-5.jpg"><img src="extra-images/gallery-view1-5.jpg" alt=""> <i class="fa fa-plus ritekhela-bgcolor"></i> </a>
                                    <a data-fancybox="group2" href="extra-images/gallery-view1-6.jpg"></a>
                                    <figcaption>
                                        <span class="ritekhela-bgcolor-two">14 Photos</span>
                                    </figcaption>
                                </figure>
                                <h2>Champion Final The will be played</h2>
                            </li>
                        </ul>
                    </div>
                    <!--// Gallery //-->
                </div>
                <!--// Bottom Section //-->
            </div>
        </div>
    </div>
    <!--// Main Section //-->

</div>
<!--// Content //-->
